{% extends 'base.html' %}
{% block title %}Rendez-vous{% endblock title %}
{% block content %}
<header>
    <h1>Prendre rdv :</h1>
</header>
<section>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button onclick="myalert()">
            <input type="submit" value="Valider" />
        </button>
          
         <script>
            function myalert() {
                alert("Rendez-vous validé");
            }
        </script>
    </form>
</section>
{% endblock content %}