{% extends 'base.html' %}
{% block title %}Accueil{% endblock title %}
{% block content %}
<header>
    <figure>
        {% comment %} <img src="" alt = "Dessin de 4 personnes assemblant des pièces de puzzle géantes"> {% endcomment %}
    </figure>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat velit consequatur nulla quia, assumenda aut cum debitis dolorum sequi adipisci expedita libero? Laboriosam similique fuga consequuntur obcaecati praesentium!</p>
</header>
<section>
    <a href='rdv'><button>Prendre rendez-vous</button></a>

</section>
{% endblock content %}