body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body > * {
    max-width: 1100px;
    width: 95%;
}

 /* Nav bar */

nav {
    display: flex;
    height: 120px;
    justify-content: space-between;
    align-items: center;
}

nav figure {
    width: 120px;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

img {
    width: 100%;
    object-fit: cover;
}

nav ul li a {
    color: #999;
    font-size: large;
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #66F;
    transition: color 0.3s;
}